<!DOCTYPE html>
<html>
    <head>
        <title>Organization Inviter</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <h1><span style="color: #efefef;">Github Organization Inviter</h1>
        <div style="max-width: 500px;">
            <p>If you're familiar with github organizations, you'll know you can only invite someone by username or email. <b>But what if you don't know either?</b></p>
            <p><span class="primary">Inviter lets you create invitation links for github organizations</span> to solve this. Simply send someone the invite link, and inviter will authenticate them and add them to your organizaion and team automatically.</p>
            <br>
            <button onclick="window.location.href='/home'">Get Started</button>
        </div>
    </body>
</html>